{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block main %}
{#    {{   dump() }}#}

{#Hi, {{ app.request.query.get('name') | default('anonym') }}#}

{#    <div>#}
{#        var: {{ some_var | default('not set') }}#}
{#    </div>#}
    <div>
        <p>Hello, {{ name }}!</p>
    </div>
{% endblock %}